services:
  redis:
    image: bitnami/redis:latest
    ports:
      - "6379:6379"
    labels:
      com.joyent.package: g4-highcpu-256M
    restart: always
    environment:
      - REDIS_EXTRA_FLAGS=--maxmemory 400mb --maxmemory-policy volatile-lru --timeout 60
      - ALLOW_EMPTY_PASSWORD=yes
  vgmdb_web:
    build: .
    depends_on:
      - redis
    ports:
      - "80"
    restart: always
    user: "www-data"
    environment:
      - REDIS_HOST=redis
      - DATA_BACKGROUND=true
      - CELERY_PING=false
      - STATSD_HOST
      - VIRTUAL_HOST
      - VIRTUAL_PORT
      - AMAZON_ACCESS_KEY_ID
      - AMAZON_SECRET_ACCESS_KEY
      - AMAZON_ASSOCIATE_TAG
      - ITUNES_AFFILIATE_ID
      - DISCOGS_KEY
      - DISCOGS_SECRET
      - SPOTIFY_ID
      - SPOTIFY_SECRET
  vgmdb_celery_priority:
    build: .
    depends_on:
      - redis
    restart: always
    environment:
      - SEARCH_INDEX=false
      - REDIS_HOST=redis
      - STATSD_HOST
      - AMAZON_ACCESS_KEY_ID
      - AMAZON_SECRET_ACCESS_KEY
      - AMAZON_ASSOCIATE_TAG
      - ITUNES_AFFILIATE_ID
      - DISCOGS_KEY
      - DISCOGS_SECRET
      - SPOTIFY_ID
      - SPOTIFY_SECRET
    command: ./sv-celery-priority
  vgmdb_celery_background:
    build: .
    depends_on:
      - redis
    restart: always
    environment:
      - SEARCH_INDEX=false
      - REDIS_HOST=redis
      - STATSD_HOST
      - AMAZON_ACCESS_KEY_ID
      - AMAZON_SECRET_ACCESS_KEY
      - AMAZON_ASSOCIATE_TAG
      - ITUNES_AFFILIATE_ID
      - DISCOGS_KEY
      - DISCOGS_SECRET
      - SPOTIFY_ID
      - SPOTIFY_SECRET
    command: ./sv-celery-background
