name: build

on:
  push:
    branches: '*'
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  packages: write

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Sync dependencies
        run: uv sync
      - name: Run unit tests
        run: . .venv/bin/activate && ./tests.sh

  dockerize:
    needs: unitTest
    runs-on: ubuntu-24.04
    if: github.repository == 'btmxh/vgmdb'
    steps:
      - name: Checkout the project
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/vgmdb

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the version
        run: |
          echo REV=$(echo ${GITHUB_SHA:0:8}) >> $GITHUB_ENV
          echo REPO_LC=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV

      - name: Prepare Qemu building
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64, linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  #
  # dockerfinalize:
  #   needs: dockerize
  #   runs-on: ubuntu-24.04
  #   if: github.repository == 'btmxh/vgmdb'
  #   steps:
  #     - name: Login to GitHub Container Registry
  #       run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
  #     - name: Get the version
  #       run: |
  #         echo REV=$(echo ${GITHUB_SHA:0:8}) >> $GITHUB_ENV
  #         echo REPO_LC=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
  #     - name: Combine multiplatform images
  #       run: |
  #         docker manifest create ghcr.io/$REPO_LC:$REV $(docker manifest inspect ghcr.io/$REPO_LC:$REV-amd64 >/dev/null && echo ghcr.io/$REPO_LC:$REV-amd64) $(docker manifest inspect ghcr.io/$REPO_LC:$REV-arm64 >/dev/null && echo ghcr.io/$REPO_LC:$REV-arm64)
  #         docker manifest push ghcr.io/$REPO_LC\_web:$REV
  #
  #     - name: Tag and push the latest images
  #       if: github.event.ref == 'refs/heads/btmxh'
  #       run: |
  #         docker manifest create ghcr.io/$REPO_LC:latest $(docker manifest inspect ghcr.io/$REPO_LC:$REV-amd64 >/dev/null && echo ghcr.io/$REPO_LC:$REV-amd64) $(docker manifest inspect ghcr.io/$REPO_LC:$REV-arm64 >/dev/null && echo ghcr.io/$REPO_LC:$REV-arm64)
  #         docker manifest push ghcr.io/$REPO_LC:latest

